.secao_capa {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url('../../../public/capa.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container_titulo {
    width: 50%;
    color: #c4c4c4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.titulo {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.titulo h1 {
    font-size: 62px;
}

.titulo p {
    font-size: 34px;
}

@media (max-width: 768px) {
    .secao_capa {
        align-items: flex-start;
        padding: 20px 0;
    }

    .titulo {
        height: 40vh;
        justify-content: space-evenly;
    }

    .container_titulo {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px;
    }

    .secao_capa h1 {
        font-size: 40px;
        max-width: 350px;
    }

    .secao_capa p {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .secao_capa {
        background-position: 89% center;
    }

    .container_titulo {
        background-color: rgba(0, 0, 0, 0.8);
        width: 30vh;
        height: 50vh;
        margin: 30px;
        justify-content: space-evenly;
    }

    .secao_capa h1 {
        font-size: 28px;
        max-width: 350px;
    }
}