.topo {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 0;
    max-width: 1024px;
    width: 100%;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: blue;
}

.img_logo {
    height: 50px;
    width: 180px;
}

.botao {
    padding: 20px;
    border: none;
    display: none;
}

@media (max-width: 768px) {
    .img_logo {
        display: ;
    }

    .topo {
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .container {
        justify-content: space-between;
        padding: 10px;
    }

    .menu {
        border-top: 1px solid gray;
        width: 100%;
    }

    .botao {
        display: block;
        padding: 20px;
        border: none;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 478px) {
    .container {
        justify-content: space-between;
        padding: 10px;
    }

    .menu {
        border-top: 1px solid gray;
    }
}